pkgbase = android-bluetooth-utils
	pkgdesc = Android Bluetooth utilities.
	pkgver = 0.0.0.0.0.0.0.0.0.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-bluetooth-utils
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	depends = tsu
	source = android-bluetooth-utils-ef10794f4dc67418531e22ce8e379c147c5651a0.zip::https://github.com/themartiancompany/android-bluetooth-utils/archive/ef10794f4dc67418531e22ce8e379c147c5651a0.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = cbbd0b248fed0284914b85cce3e42f352e923af1923c7d69daadea557cc403a8

pkgname = android-bluetooth-utils
